In [1]:
import pandas as pd
file = pd.read_csv('weather.csv')
data = file.groupby('city')
data

In [3]:
for city,city_data in data:
    print(city)
    print(city_data)

mumbai
        day    city  temperature  windspeed  event
4  1/1/2017  mumbai           90          5  Sunny
5  1/2/2017  mumbai           85         12    Fog
6  1/3/2017  mumbai           87         15    Fog
7  1/4/2017  mumbai           92          5   Rain
new york
        day      city  temperature  windspeed  event
0  1/1/2017  new york           32          6   Rain
1  1/2/2017  new york           36          7  Sunny
2  1/3/2017  new york           28         12   Snow
3  1/4/2017  new york           33          7  Sunny
paris
         day   city  temperature  windspeed   event
8   1/1/2017  paris           45         20   Sunny
9   1/2/2017  paris           50         13  Cloudy
10  1/3/2017  paris           54          8  Cloudy
11  1/4/2017  paris           42         10  Cloudy

In [9]:
data.get_group('mumbai').describe()

       temperature  windspeed
count     4.000000   4.000000
mean     88.500000   9.250000
std       3.109126   5.057997
min      85.000000   5.000000
25%      86.500000   5.000000
50%      88.500000   8.500000
75%      90.500000  12.750000
max      92.000000  15.000000