Reading and Writing data from a csv file and using some additional operations of `read_csv` method in pandas.

In [1]:
import pandas as pd

df = pd.read_csv('annex.csv')
df

,Date,Time,Item Code,Quantity Sold (kilo),Unit Selling Price (RMB/kg),Sale or Return,Discount (Yes/No)
0,2020-07-01,09:15:07.924,102900005117056,0.396,7.6,sale,No
1,2020-07-01,09:17:27.295,102900005115960,0.849,3.2,sale,No
2,2020-07-01,09:17:33.905,102900005117056,0.409,7.6,sale,No
3,2020-07-01,09:19:45.450,102900005115823,0.421,10.0,sale,No
4,2020-07-01,09:20:23.686,102900005115908,0.539,8.0,sale,No
5,2020-07-01,09:21:55.556,102900005117056,0.277,7.6,sale,No
6,2020-07-01,09:21:56.536,102900005115779,0.338,8.0,sale,No
7,2020-07-01,09:22:01.274,102900005117056,0.132,7.6,sale,No
8,2020-07-01,09:22:01.476,102900005115779,0.213,8.0,sale,No
9,2020-07-01,09:22:15.998,102900011008522,0.514,8.0,sale,No
10,2020-07-01,09:22:21.264,102900005118824,0.251,10.0,sale,No
11,2020-07-01,09:24:21.833,102900005115984,0.251,6.0,sale,No
12,2020-07-01,09:24:21.905,102900005116530,0.217,18.0,sale,No
13,2020-07-01,09:24:57.873,102900005115984,0.468,6.0,sale,No
14,2020-07-01,09:25:31.342,102900005116226,0.589,8.0,sale,No
15,2020-07-01,09:25:45.811,102900005118824,0.711,10.0,sale,No
16,2020-07-01,09:26:04.530,102900005115779,1.003,8.0,sale,No
17,2020-07-01,09:28:01.983,102900005116530,0.095,18.0,sale,No
18,2020-07-01,09:30:17.045,102900005116233,0.150,10.0,sale,No
19,2020-07-01,09:30:26.948,102900005115984,0.502,6.0,sale,No
20,2020-07-01,09:31:42.483,102900005115984,0.452,6.0,sale,No
21,2020-07-01,09:32:25.623,102900005115908,0.501,8.0,sale,No
22,2020-07-01,09:32:59.701,102900005115779,0.201,8.0,sale,No
23,2020-07-01,09:33:08.981,102900005115779,0.439,8.0,sale,No
24,2020-07-01,09:33:09.579,102900005115762,0.686,6.0,sale,No
25,2020-07-01,09:33:09.998,102900005116714,0.329,14.0,sale,No
26,2020-07-01,09:35:02.477,102900005115908,0.251,8.0,sale,No
27,2020-07-01,09:35:02.557,102900005118817,0.243,14.0,sale,No
28,2020-07-01,09:35:13.164,102900005116530,0.256,18.0,sale,No

In [2]:
df = pd.read_csv('annex.csv', skiprows = 1)
df

    2020-07-01  09:15:07.924  102900005117056  0.396   7.6  sale  No
0   2020-07-01  09:17:27.295  102900005115960  0.849   3.2  sale  No
1   2020-07-01  09:17:33.905  102900005117056  0.409   7.6  sale  No
2   2020-07-01  09:19:45.450  102900005115823  0.421  10.0  sale  No
3   2020-07-01  09:20:23.686  102900005115908  0.539   8.0  sale  No
4   2020-07-01  09:21:55.556  102900005117056  0.277   7.6  sale  No
5   2020-07-01  09:21:56.536  102900005115779  0.338   8.0  sale  No
6   2020-07-01  09:22:01.274  102900005117056  0.132   7.6  sale  No
7   2020-07-01  09:22:01.476  102900005115779  0.213   8.0  sale  No
8   2020-07-01  09:22:15.998  102900011008522  0.514   8.0  sale  No
9   2020-07-01  09:22:21.264  102900005118824  0.251  10.0  sale  No
10  2020-07-01  09:24:21.833  102900005115984  0.251   6.0  sale  No
11  2020-07-01  09:24:21.905  102900005116530  0.217  18.0  sale  No
12  2020-07-01  09:24:57.873  102900005115984  0.468   6.0  sale  No
13  2020-07-01  09:25:31.342  102900005116226  0.589   8.0  sale  No
14  2020-07-01  09:25:45.811  102900005118824  0.711  10.0  sale  No
15  2020-07-01  09:26:04.530  102900005115779  1.003   8.0  sale  No
16  2020-07-01  09:28:01.983  102900005116530  0.095  18.0  sale  No
17  2020-07-01  09:30:17.045  102900005116233  0.150  10.0  sale  No
18  2020-07-01  09:30:26.948  102900005115984  0.502   6.0  sale  No
19  2020-07-01  09:31:42.483  102900005115984  0.452   6.0  sale  No
20  2020-07-01  09:32:25.623  102900005115908  0.501   8.0  sale  No
21  2020-07-01  09:32:59.701  102900005115779  0.201   8.0  sale  No
22  2020-07-01  09:33:08.981  102900005115779  0.439   8.0  sale  No
23  2020-07-01  09:33:09.579  102900005115762  0.686   6.0  sale  No
24  2020-07-01  09:33:09.998  102900005116714  0.329  14.0  sale  No
25  2020-07-01  09:35:02.477  102900005115908  0.251   8.0  sale  No
26  2020-07-01  09:35:02.557  102900005118817  0.243  14.0  sale  No
27  2020-07-01  09:35:13.164  102900005116530  0.256  18.0  sale  No

In [5]:
df = pd.read_csv('annex.csv',skiprows = 1, nrows = 5)
df

,Date,Time,Item Code,Quantity Sold (kilo),Unit Selling Price (RMB/kg),Sale or Return,Discount (Yes/No)
0,2020-07-01,09:15:07.924,102900005117056,0.396,7.6,sale,No
1,2020-07-01,09:17:27.295,102900005115960,0.849,3.2,sale,No
2,2020-07-01,09:17:33.905,102900005117056,0.409,7.6,NaN,No
3,2020-07-01,09:19:45.450,102900005115823,0.421,10.0,sale,No
4,2020-07-01,09:20:23.686,102900005115908,0.539,8.0,sale,No

In [6]:
df = pd.read_csv('annex.csv',skiprows=1,nrows = 10)
df

,Date,Time,Item Code,Quantity Sold (kilo),Unit Selling Price (RMB/kg),Sale or Return,Discount (Yes/No)
0,2020-07-01,09:15:07.924,1.029000e+14,0.396,7.6,sale,No
1,2020-07-01,09:17:27.295,NaN,0.849,3.2,sale,No
2,2020-07-01,09:17:33.905,1.029000e+14,0.409,7.6,NaN,No
3,2020-07-01,09:19:45.450,1.029000e+14,0.421,10.0,sale,No
4,2020-07-01,NaN,1.029000e+14,0.539,8.0,sale,No
5,2020-07-01,09:21:55.556,1.029000e+14,0.277,7.6,sale,No
6,2020-07-01,09:21:56.536,1.029000e+14,0.338,8.0,sale,No
7,2020-07-01,09:22:01.274,1.029000e+14,0.132,7.6,sale,No
8,NaN,09:22:01.476,1.029000e+14,0.213,8.0,sale,No
9,2020-07-01,09:22:15.998,1.029000e+14,0.514,8.0,sale,No

In [7]:
df = pd.read_csv('annex.csv',skiprows =1,nrows = 10,na_values=['not available','n.a'])
df

,Date,Time,Item Code,Quantity Sold (kilo),Unit Selling Price (RMB/kg),Sale or Return,Discount (Yes/No)
0,2020-07-01,09:15:07.924,1.029000e+14,0.396,7.6,sale,No
1,2020-07-01,09:17:27.295,NaN,0.849,3.2,sale,No
2,2020-07-01,09:17:33.905,1.029000e+14,0.409,7.6,NaN,No
3,2020-07-01,09:19:45.450,1.029000e+14,0.421,10.0,sale,No
4,2020-07-01,NaN,1.029000e+14,0.539,8.0,sale,No
5,2020-07-01,09:21:55.556,1.029000e+14,0.277,7.6,sale,No
6,2020-07-01,09:21:56.536,1.029000e+14,0.338,8.0,sale,No
7,2020-07-01,09:22:01.274,1.029000e+14,0.132,7.6,sale,No
8,NaN,09:22:01.476,1.029000e+14,0.213,8.0,sale,No
9,2020-07-01,09:22:15.998,1.029000e+14,0.514,8.0,sale,No

In [10]:
df = pd.read_csv('annex.csv',skiprows=1,nrows=10)
df

,Date,Time,Item Code,Quantity Sold (kilo),Unit Selling Price (RMB/kg),Sale or Return,Discount (Yes/No)
0,2020-07-01,09:15:07.924,1.029000e+14,0.396,7.6,sale,No
1,2020-07-01,09:17:27.295,NaN,0.849,3.2,sale,No
2,2020-07-01,09:17:33.905,1.029000e+14,0.409,7.6,NaN,No
3,2020-07-01,09:19:45.450,1.029000e+14,0.421,10.0,sale,No
4,2020-07-01,NaN,1.029000e+14,0.539,8.0,sale,No
5,2020-07-01,09:21:55.556,1.029000e+14,0.277,7.6,sale,No
6,2020-07-01,-26,1.029000e+14,0.338,8.0,sale,No
7,2020-07-01,09:22:01.274,1.029000e+14,0.132,7.6,sale,No
8,-1,09:22:01.476,1.029000e+14,0.213,8.0,sale,No
9,2020-07-01,09:22:15.998,1.029000e+14,0.514,8.0,sale,No

In [13]:
# Date can't be a negative integer so we have to convert it to NaN
df = pd.read_csv('annex.csv',skiprows=1,nrows = 10,na_values={
    'Date' : [-1,-2], # If these values(-1,-2) occur in date column convert it into NaN
    'Time' : [-26]
})
df

,Date,Time,Item Code,Quantity Sold (kilo),Unit Selling Price (RMB/kg),Sale or Return,Discount (Yes/No)
0,2020-07-01,09:15:07.924,1.029000e+14,0.396,7.6,sale,No
1,2020-07-01,09:17:27.295,NaN,0.849,3.2,sale,No
2,2020-07-01,09:17:33.905,1.029000e+14,0.409,7.6,NaN,No
3,2020-07-01,09:19:45.450,1.029000e+14,0.421,10.0,sale,No
4,2020-07-01,NaN,1.029000e+14,0.539,8.0,sale,No
5,2020-07-01,09:21:55.556,1.029000e+14,0.277,7.6,sale,No
6,2020-07-01,NaN,1.029000e+14,0.338,8.0,sale,No
7,2020-07-01,09:22:01.274,1.029000e+14,0.132,7.6,sale,No
8,NaN,09:22:01.476,1.029000e+14,0.213,8.0,sale,No
9,2020-07-01,09:22:15.998,1.029000e+14,0.514,8.0,sale,No

In [18]:
#write dataframe to a csv file
df = pd.read_csv('annex.csv',skiprows=1,nrows=12,na_values={
    'Date' : [-1,-2], # If these values(-1,-2) occur in date column convert it into NaN
    'Time' : [-26]
})
df.to_csv('new_annex.csv',index = False)