In [ ]:
import pandas as pd
import os

data_frames = []

files = os.listdir('Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data')
print(str(files))
for file in files:
    if file.endswith('.csv'):
        file_path = os.path.join('Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/'+file)
        df = pd.read_csv(file_path)
        data_frames.append(df)
total_data = pd.concat(data_frames)
total_data.to_csv('sales-data.csv',index=False)
total_data.shape

Add Month column to total_data

In [ ]:
total_data = total_data[total_data['Order Date'].str[0:2] != 'Or']
total_data = total_data.dropna()

Data Munging

In [22]:
total_data['Month'] = total_data['Order Date'].str[0:2]
total_data['Month'] = total_data['Month'].astype('int32')
total_data['Quantity Ordered'] = pd.to_numeric(total_data['Quantity Ordered'])
total_data['Price Each'] = pd.to_numeric(total_data['Price Each'])
total_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,sales
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",4,11.9511.95
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",4,99.99
3,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4,600
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4,11.99
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",4,11.99

Which Month has highest sales

In [21]:
# Creating a sales column in total_data dataframe
total_data['sales'] = total_data['Quantity Ordered'] * total_data['Price Each']
total_data.groupby('Month').sum()['sales']
max_sales = total_data.groupby([total_data['sales']]).max()
# total_data.head()
print(max_sales)

                Order ID                     Product  Quantity Ordered  \
sales
109.99            319648                20in Monitor                 1
109.99109.99      319366                20in Monitor                 2
11.95             319638        USB-C Charging Cable                 1
11.9511.95        319501        USB-C Charging Cable                 2
11.9511.9511.95   318692        USB-C Charging Cable                 3
...                  ...                         ...               ...
99.99             319670  Bose SoundSport Headphones                 1
99.9999.99        319608  Bose SoundSport Headphones                 2
99.9999.9999.99   234028  Bose SoundSport Headphones                 3
999.99            319664             ThinkPad Laptop                 1
999.99999.99      278637             ThinkPad Laptop                 2

                Price Each      Order Date  \
sales
109.99              109.99  12/31/19 22:48
109.99109.99        109.99  12/31/19 20:51
11.95                11.95  12/31/19 22:54
11.9511.95           11.95  12/31/19 23:16
11.9511.9511.95      11.95  12/29/19 15:48
...                    ...             ...
99.99                99.99  12/31/19 22:50
99.9999.99           99.99  12/30/19 13:22
99.9999.9999.99      99.99  07/29/19 19:51
999.99              999.99  12/31/19 22:57
999.99999.99        999.99  10/02/19 16:06

                                       Purchase Address  Month
sales
109.99                 999 Willow St, Seattle, WA 98101     12
109.99109.99       973 Hill St, San Francisco, CA 94016     12
11.95              999 Willow St, Los Angeles, CA 90001     12
11.9511.95                999 Main St, Austin, TX 73301     12
11.9511.9511.95  996 Center St, San Francisco, CA 94016     12
...                                                 ...    ...
99.99                  999 Wilson St, Atlanta, GA 30301     12
99.9999.99              999 Spruce St, Austin, TX 73301     12
99.9999.9999.99   289 North St, San Francisco, CA 94016      7
999.99             999 Wilson St, Los Angeles, CA 90001     12
999.99999.99        850 6th St, New York City, NY 10001     10

[62 rows x 7 columns]