In [ ]:
import pandas as pd
import os

data_frames = []

files = os.listdir('Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data')
print(str(files))
for file in files:
    if file.endswith('.csv'):
        file_path = os.path.join('Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/'+file)
        df = pd.read_csv(file_path)
        data_frames.append(df)
total_data = pd.concat(data_frames)
total_data.to_csv('sales-data.csv',index=False)
total_data.shape

Add Month column to total_data

In [ ]:
total_data = total_data[total_data['Order Date'].str[0:2] != 'Or']
total_data = total_data.dropna()

Data Munging

In [22]:
total_data['Month'] = total_data['Order Date'].str[0:2]
total_data['Month'] = total_data['Month'].astype('int32')
total_data['Quantity Ordered'] = pd.to_numeric(total_data['Quantity Ordered'])
total_data['Price Each'] = pd.to_numeric(total_data['Price Each'])
total_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,sales
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",4,11.9511.95
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",4,99.99
3,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4,600
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4,11.99
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",4,11.99

Which Month has highest sales

In [27]:
# Creating a sales column in total_data dataframe and find best month for sales
total_data['sales'] = total_data['Quantity Ordered'] * total_data['Price Each']
total_data.groupby('Month').sum()

Which City had best sales in 2021 ?

In [46]:
total_data['city'] = total_data['Purchase Address'].str.split(',',expand=True).iloc[:,1].fillna('')
total_data.groupby('city')['sales'].sum()

city
 Atlanta          2795498.58
 Austin           1819581.75
 Boston           3661642.01
 Dallas           2767975.40
 Los Angeles      5452570.80
 New York City    4664317.43
 Portland         2320490.61
 San Francisco    8262203.91
 Seattle          2747755.48
Name: sales, dtype: float64